# Build and Release Folders
*/vunit_out/*

# Other files and folders

# Executables
*.xml
*.json
*.asv

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
